{% extends "base.html" %}

{% block title %}
  Automated Letter Generator
{% endblock %}

{% block content %}
  <div class="card-wrapper">
    <div class="card">
      <h1 class="center title">Upload Zip File</h1>
      <form method=post enctype=multipart/form-data class="form">

        <label for="file" class="fileinput">Choose Your File</label>
        <input type=file name=file accept="application/zip" class="field" required>

        <label for="pre_para_id">Insert Before Paragraph: (Default is 0)</label>
        <input type="text" id="pre_para_id" name="pre_para_id" class="field" value="0" required>

        <div>
          <b>Post-Processing Options</b>

          <div style="display:flex; flex-direction: row; justify-content: flex-start; align-items: center">
            <label for="dialect">Dialect</label>
            <select id="dialect" name="dialect">
              <option value="">None Specified</option>
              <option value="ame">American English</option>
              <option value="bre">British English</option>
            </select>
          </div>

          <div style="display:flex; flex-direction: row; justify-content: flex-start; align-items: center">
            <label for="apostrophe">Apostrophe Style</label>
            <select id="apostrophe" name="apostrophe">
              <option value="">None Specified</option>
              <option value="straight">Straight (')</option>
              <option value="curly">Curly (’)</option>
            </select>
          </div>
        </div>

        <div style="padding-top: 20px">
          <b>Checking Options</b>
          <div style="display:flex; flex-direction: row; justify-content: flex-start; align-items: center">
            <label for="check_error">Check for Errors</label>
            <input type="checkbox" id="check_error" name="check_error" checked="true">
          </div>
          <div style="display:flex; flex-direction: row; justify-content: flex-start; align-items: center">
            <label for="check_grammar">Download Grammar Hints</label>
            <input type="checkbox" id="check_grammar" name="check_grammar" checked="true">
          </div>
          <div style="padding-top: 20px">
            <label for="new_words">New words to be ignored by the spelling checker.
              Student names are already included.</label>
            <input type="text" id="new_words" name="new_words"
                   class="field" placeholder="[Optional] word1 word2 word3">
          </div>
        </div>

        <input type=submit value=Upload class="btn btn-upload">
      </form>
    </div>
  </div>
{% endblock %}